<ul class="collection" ng-show="storageuser">
    <a href="#!/" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">web</i>
            </div>
            <div class="col s4">
                Dashboard
            </div>
        </div>
    </a>
    <a href="#!/view1" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">trending_up</i>
            </div>
            <div class="col s4">
                Statistics
            </div>
        </div>
    </a>
    <a href="#!/users" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="col s4">
                Users
            </div>
        </div>
    </a>
    <a href="#!/" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">settings_input_antenna</i>
            </div>
            <div class="col s4">
                Network
            </div>
        </div>
    </a>
    <a href="#!/waterpipes" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">room</i>
            </div>
            <div class="col s4">
                Waterpipes
            </div>
        </div>
    </a>
    <a href="#!/" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">label_outline</i>
            </div>
            <div class="col s4">
                Devices
            </div>
        </div>
    </a>
    <a href="#!/" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">report_problem</i>
            </div>
            <div class="col s4">
                Incidences
            </div>
        </div>
    </a>
    <a href="#!/" class="collection-item">
        <div class="row">
            <div class="col s4">
                <i class="material-icons">settings</i>
            </div>
            <div class="col s4">
                Settings
            </div>
        </div>
    </a>
</ul>
