<nav ng-show="storageuser">
    <div class="nav-wrapper c_bars z-depth-3">
        <a href="#!/" class="brand-logo">
            aqua-<b style="color:rgb(32,158,145);">orbis</b>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#!/">Dashboard</a></li>
            <li><a href="#!/view2">Settings</a></li>

            <li>
                <a ng-click="logout()">
                    <i class="large material-icons">power_settings_new</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
